@font-face {
     }

     /* RESET */


*,*::after,*::before {
    margin: ;
    padding: ;
    box-sizing: ;
    font-family: ;
}



      /* VARIABLES*/ 


:root {
/* COLORS */


/* FONTS */


/* BORDERS */



} 

       /* UTILITY-CLASSES */



       /* HTML */


       /* BODY */



       /* HEADER */

       /* MAIN */


       /* FOOTER */

       /* FIGURE */



       /* PARAGRAPHS */


       /* Hs */

